<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pan.email.dao.DiscussPostMapper">

    <sql id = "selectFields">
        id, user_id, title, content, type, status, create_time, to_user_id
    </sql>

    <sql id = "insertFields">
        user_id, title, content, type, status, create_time, to_user_id, mail_type
    </sql>

    <!--分页查询邮件 orderMode:0 查询接收邮件列表  1是发送邮件列表-->
    <select id = "selectDiscussPosts" resultType="DiscussPost">
        select <include refid="selectFields"></include>
        from discuss_post
        where 1=1
        <if test = "orderMode == 0">
            and to_user_id = #{userId}
        </if>
        <if test = "orderMode == 1">
            and user_id = #{userId}
        </if>
        order by type desc, create_time desc
        limit #{offset}, #{limit}
    </select>

    <select id = "selectByKeyWordAndUser" resultType="java.util.Map">
        select a.id,a.user_id as userId, a.title, a.content, a.status, a.create_time as createTime, a.to_user_id as toUserId,b.username,b.header_url as headerUrl
        from discuss_post a left join user b on a.user_id=b.id
        where 1=1
        and (a.to_user_id = #{userId} or a.user_id=#{userId})
        and a.title like #{keyword}
        order by  a.create_time desc
        limit #{offset}, #{limit}
    </select>

    <!--查询收件的个数-->
    <select id = "selectCountByToUserIdAndStatus" resultType="int">
        select count(0)
        from discuss_post
        where status = #{status}
        and to_user_id = #{toUserId}
    </select>
    <!--    查找已发送的数量-->
    <select id = "selectSendCount" resultType="int">
        select count(0)
        from discuss_post
        where user_id = #{userId}
    </select>
    <!--    查找接收到邮件的数量-->
    <select id = "selectReactorCount" resultType="int">
        select count(0)
        from discuss_post
        where to_user_id = #{userId}
    </select>

    <!--插入/添加邮件-->
    <insert id="insertDiscussPost" parameterType="DiscussPost" keyProperty="id">
        insert into discuss_post (<include refid="insertFields"></include>)
        values(#{userId}, #{title}, #{content}, #{type}, #{status}, #{createTime}, #{toUserId}, #{mailType})
    </insert>

    <!--根据 id 查询邮件-->
    <select id = "selectDiscussPostById" resultType="DiscussPost">
        select *
        from discuss_post
        where id = #{id}
    </select>

    <!--修改邮件类型：0-普通; 1-置顶;-->
    <update id="updateType">
        update discuss_post
        set type = #{type}
        where id = #{id}
    </update>

    <!--修改邮件状态：0-正常; 1-精华; 2-拉黑;-->
    <update id="updateStatus">
        update discuss_post
        set status = #{status}
        where id = #{id}
    </update>
    <delete id="deleteById">
        delete from discuss_post where id=#{id}
    </delete>
</mapper>
